body {
  padding-top: 25px;
  background: #E5E5F7;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

tables.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.input-group {
  margin:5px;
  margin-bottom: none;
}

.form-group {
  margin:5px;
  margin-bottom: none;
  text-align: left;
}

#tableBottom .input-group-btn{
  display: inline;
  margin:2px; 
}

#selectArea {
  min-height: 90vh;
  margin: 7px;
  margin-top: 1vh;
  box-shadow: -7px 7px 5px #888888;
  background: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
}


/*
#analysisGroup {
  height: 7%;  
}

#analysisGroup select {
  width: 100%;
  height: 65%;        
}

#analysisButtons {
  width: 100%;
  height: 8%;      
}
*/


.popover {
  max-width: none;
}

#analysisButtons .popover{
  width: 25vw !important;
}

#analysisButtons .btn-group {
  float: left;
  padding-right: 5px;
}   

#analysisButtons .editorGroup {
  padding-right: 5px;
  float: left;      
}

#analysisButtons .dropdown {
  padding-right: 5px;
  float:left;
}

#batchDiv {
  float: clear;
  margin-top: 50px;
  /*
  width: 100%;
  height: 5%;
  */
}

.dropdown-menu {
  width: 15vw !important;     
}


/*
#cellDiv {
  height: 25%;
  width: 100%;        
}

#modelDiv {
  height: 25%;
  width: 100%;      
}
*/


textarea {
  width: 100% !important;
  height: 25% !important;
}

#editTree {
  width: 100% !important;      
}


/*
#modelButtons {
  width: 100%;
  height: 7%;        
}
*/

#fitOpDiv {
  display: none;   
}

#queuelimit {
  text-align: right;    
}

#modelButtons button{
  margin:2px;        
}

#plotMeasureTypeGroup {
  text-align: left;
  margin-top: 0px;
  width: 100%;
}

#plotButtons {
  width: 100%;
  text-align: left;  
}

#plotButtons button{
  margin: 2px;        
}

#plotOpWrapper {
  display: none;      
}

#plotMeasureTypeGroupLabels {
  width: 100%;        
}

#plotMeasureTypeGroupLabels label {
  width:40%;
  text-align: left;
}

#measureSelector {
  width: 40%;        
}

#plotTypeSelector {
  width: 40%;        
}


#onlyFair {
  width: 20%;
}

#includeOutliers {
  width: 20%;        
}

plotOpLabels {
  width: 100%;
  height: 6%;        
}

#plotOpLabels label {
  width: 20%;
  text-align: center;
}

plotOpGroup {
  width: 100%;
}

#plotOpSelect {
  width: 20%;        
}

#plotOpVal {
  width: 20%;
  text-align: center;      
}

#resultsArea{
  height: 90vh;
  margin: 7px;    
  margin-top: 1vh;
  box-shadow: 0px 7px 5px #888888;
  background: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
}

#tableButtonsTop {
  width: 100%;
}

#rowLimit {
  height: 100%;
  width: 35%;
  text-align: center;
}

#tableWrapper {
  margin-top: 10px;
  height: 70%;
  width: 100%;
  display: block;
  overflow: auto;
  border: 1px solid #C8C8C8;
}

tableButtonsBottom {
  width: 100%;      
}

.jumbotron {
  padding: 10px !important;
  border: 1px solid #C8C8C8;
  margin-top: 20px;
  height: 10%;
  width: 100%;
  overflow: auto;
  text-align: left;
}

.jumbotron .py_con_msg {
  font-size: 12px;
  line-height: 14px;
  margin: 4px;
}

#displayOuter {
  margin: 7px;
  margin-top: 1vh;
  height: 90vh;
  display: block;
  text-align: center;
  box-shadow: 7px 7px 5px #888888;
  background: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
}

#displayWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

#displayWrapper img{
  max-width: 100%;      
  margin: auto;
  vertical-align: center;
}

#displayWrapper div{
  max-width: 100%;        
  margin: auto;
  vertical-align: center;
}

.table-hover, .table-condensed {
  display: block;
  height: 100%;      
  text-align: center;
  border: none;
}

.dataframe th , .dataframe td {
  cursor: pointer;
  border:none;
  text-align:center;        
}

.selectedRow {
  background-color: #3DAEE9 !important;
  color: #FFF !important;
}

#loadingPopup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba( 0, 0, 0, .3)
              url('http://imgur.com/qnRTMK6.gif')
              50% 50%
              no-repeat;
}
