<!-- Formats plot page -->
<!-- script and div variables import javascript and html code from bokeh -->
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- May have to update version in the future (currently 0.12.6 portion of URL) -->
    <!-- Switched from static files in /static/js to CDN URL for easier updating,
        but if load times become slow just have to download the newer files -->
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
        rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>

    {{ script|safe }}
</head>
<body>
    {{ div|safe }}
</body>
</html>