<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- TODO: Keep this title? -->
    <title> NEMS Modelpane </title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
    crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/modelpane/modelpane.css') }}" rel="stylesheet">
    
  </head>
  <body>
    <div class="container-fluid">
    <div class="starter-template">
    
        <h2>{{ title }}</h2>
        
        <div class="row">
        
        <div class="col-xs-2">
        <form class="form" id="removeModule" method="POST">
            <div class="form-group">
                <label for="moduleRemove"> Remove Module </label>
                <select class="form-control" id="moduleRemove" name="r_module" disabled>
                {% for module in modules %}
                    <option value="{{ module }}"> {{ module }} </option>
                {% endfor %}
                </select>
                
                <input type="checkbox" name="all_idx" value="1" disabled> All
                
                <button class="form-group-btn" type="Submit" form="removeModule"
                formaction="{{ url_for('remove_module') }}" disabled> Submit
                </button>
            </div>
        </form>
        </div><!-- end col -->
        
        <div class="col-xs-2">
        <form class="form" id="appendOrInsert" method="POST">
        
            <div class="form-group">
                <label for="moduleSelect"> Select Module </label>
                <select class="form-control" id="moduleSelect" name="a_module" disabled>
                {% for mod in all_mods %}
                    <option value="{{ mod }}"> {{ mod }} </option>
                {% endfor %}
                </select>
            </div>
                
            <div class="form-group">
                <label for="idx" id="idxLabel"> Insertion Index </label>
                <input type="text" class="form-control" 
                value={{ modules|length }} name="idx" id="idx" disabled>
            </div>
                
            <div class="form-group">
                <button class="form-group-btn" type="Submit" form="appendOrInsert"
                formaction="{{ url_for('append_module') }}" name="append" disabled> 
                Append Module
                </button>
                <button class="form-group-btn" type="Submit" form="appendOrInsert"
                formaction="{{ url_for('insert_module') }}" name="insert" disabled> 
                Insert Module
                </button>
            </div>
            
        </form>
        </div><!-- end col -->
        
        <div class="col-xs-2">
        <form class="form-inline" id="stimDataIdx">
            <div class="input-group">
                <label for="changeDataIdx" id="dataIdxLabel">
                Data Index 0 to {{ plot_dataidx_max }} </label>
                <input type="text" class="form-control" id="changeDataIdx"
                value="{{ plot_dataidx }}">                                                             
            </div>
            <div class="input-group">
                <label for="changeStimIdx" id="stimIdxLabel">
                Stim Index 0 to {{ plot_stimidx_max }} </label>
                <input type="text" id="changeStimIdx" class="form-control"
                value="{{ plot_stimidx }}">                                                            
            </div>
            <!--
            <div class="input-group">
                <button type="button" class="btn btn-default" form="stimDataIdx"
                id="updateIdx"> Update </button>
            </div>
            -->
        </form>
        </div><!-- end col -->
        
        <div class="col-xs-6" id="blankDivForSpacing">
        </div>
        
        </div><!-- end row -->
        
        
    {% for module in modules %}

        <h4 text-align="left" align="left">
        <button class="btn btn-default btn-xl rowToggle" data-toggle="collapse"
        data-target="#{{ module }}" aria-expanded="true">
        Toggle {{ module }} </button>
        </h4>
        
        <div class="row collapse.show collapse in moduleRow" id="{{ module }}"
        name="{{ loop.index-1 }}">
        
            <div class="col-xs-4">
            
                <div class="control-group" align="left">
                    <label for="plotSelect{{ loop.index-1 }}"> Plot Type </label>
                    <select class="plotSelect form-control" id=
                    "plotSelect{{ loop.index-1 }}">
                    {% for type in plottypes[loop.index-1] %}
                        <option> {{ type }} </option>
                    {% endfor %}
                    </select>
                </div><!-- control-group -->
                
                <br/>
                <div class="control-group" align="left" class="editableFields">
                    <!--   Discontinue this
                    <label for="selectPreset"> Keyword Preset </label>
                    <select class="form-control selectPreset">
                        {#{% for kw in keywords[loop.index-1] %}
                        <option value="{{ kw }}"> {{ kw }} </option>
                        {% endfor %}#}
                    </select>
                    -->
                    <span class="lbl"> <strong>Editable Fields</strong> </span>
                    {% for field, value, type in fields_values_types[loop.index-1] %}
                    <div class="input-group">
                        <span class="input-group-addon checkboxLabel">
                            <input type="checkbox" class="check_box" checked>
                        </span>
                        <span class="input-group-addon"> {{ field }} </span>
                        <input type="text" class="form-control fieldValue" 
                            name="{{ field }}" value="{{ value }}"
                            dtype="{{ type }}">
                    </div>
                    {% endfor %}
                </div>
                
                <div class="form-group form-inline">     
                    <label class="checkbox">
                        <input type="checkbox"> Test1
                    </label>
                    <label class="checkbox">
                        <input type="checkbox"> Test1
                    </label>
                    <button type="button" id="update_{{ module }}"
                    class="submitModuleChanges"> Update </button>
                </div>
            </div><!-- end col -->
            
            <div class="col-xs-8 plot-wrapper" id="plot{{ loop.index-1 }}">
                {{ plots[loop.index-1] | safe }}
            </div><!-- end col -->
        </div><!-- end row -->
  
    {% endfor %}
    
    <div id="loadingPopup">
        <div id="loadingMessage">
        </div>
    </div>
    
    </div> <!-- end starter-template -->
    </div> <!-- end container -->

    <!-- load jquery -->
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    
    <!-- modelpane-specific javascript -->
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src=
        "{{ url_for('static',filename='js/modelpane/modelpane.js') }}">
    </script>

  </body>
</html>