.starter-template {
  text-align: center;
  padding: 20px;
}

body {
  background: #E5E5F7;      
}

.form-group {
  text-align: left;
  margin: 5px;
}

.input-group {
  text-align: left;
  margin: 5px;        
}

#testSelect {
  margin: 0px;   
}

.rowToggle {
  box-shadow: 4px 4px 2px #888888;    
}

.moduleRow {
  padding: 15px;
  border:  1px solid #C8C8C8;
  background: #FFFFFF;
  box-shadow: 7px 7px 5px #888888;
  margin-top: 12px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#loadingPopup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba( 0, 0, 0, .3)
              url('http://imgur.com/qnRTMK6.gif')
              50% 50%
              no-repeat;
}

.plot-wrapper{
  text-align: center;
  height: 90%;
  display: block;     
}

.plot-wrapper svg{
  display: block;
  margin: auto;
  position: relative;    
}
